<form name="form" ng-submit="form.$valid && vm.saveMac()" novalidate>

  <div class="form-group">
    <label for="addr">MAC address</label>
    <input id="addr" type="text" class="form-control" value="{{ vm.item.mac }}" readonly>
  </div>

  <div class="form-group">
    <label for="host">Host</label>
    <input id="host" type="text" class="form-control" value="{{ vm.item.host }}" readonly>
  </div>

  <div class="form-group">
    <label for="host_vendor">Host Vendor</label>
    <input id="host_vendor" type="text" class="form-control" value="{{ vm.item.host_vendor }}" readonly>
  </div>

  <div class="form-group">
    <label for="vlan">VLAN</label>
    <input id="vlan" type="text" class="form-control" value="{{ vm.item.vlan }}" readonly>
  </div>

  <div class="form-group">
    <label for="port">Port</label>
    <input id="port" type="text" class="form-control" value="{{ vm.item.port }}" readonly>
  </div>

  <!-- <div class="form-check">
    <input type="checkbox" class="form-check-input" id="confirmed" ng-model="vm.item.confirmed">
    <label class="form-check-label" for="confirmed">Подтвежден</label>
  </div> -->

  <br />

  <div class="form-group">
    <label for="desc">Description</label>
    <textarea id="desc" class="form-control" ng-model="vm.item.desc">{{ vm.item.desc }}</textarea>
  </div>

  <br />

  <button type="submit" class="btn btn-primary" ng-disabled="vm.loading">Submit</button>
  <span class="oi oi-check" ng-show="vm.submitted">

</form>